<div>
<div *ngIf="!orderCreated" class="bg-white">
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Оформлення замовлення</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Кошик</span>
          <span class="badge bg-primary rounded-pill">{{ cart.length }}</span>
        </h4>
        <ul class="list-group mb-3">
          <li *ngFor="let cartItem of cart" class="list-group-item d-flex justify-content-between lh-sm">
            <div class="flex">
              <img class="rounded mr-4 w-25 h-full" style="object-fit: cover;" src="{{ cartItem.product.images[0].file }}" alt="Hi">
              <div>
                <h6 class="my-0">{{ cartItem.product.name }}</h6>
                <small class="text-muted">Кількість: {{ cartItem.quantity }}</small><br>
                <small class="text-muted">Ціна: {{ cartItem.product.price }}$</small>
              </div>
            </div>
            <span class="text-muted">Сума {{ (cartItem.quantity*cartItem.product.price).toFixed(2) }}$</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>До сплати (USD)</span>
            <strong>{{ sum }} $</strong>
          </li>
        </ul>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Контактні дані</h4>
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="row g-3">
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label> ПІБ </mat-label>
                <input matInput
                       class="ring-0"
                       id="username"
                       type="text"
                       placeholder=""
                       name="username"
                       [(ngModel)]="form.username"
                       required
                       maxlength="255"
                       #username="ngModel"
                />
                <mat-error class="danger" *ngIf="username.errors?.['required']">Введіть ПІБ</mat-error>
                <mat-error *ngIf="username.errors?.['maxlength']">
                  Email не може перевищувати 255 символів
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label> Email </mat-label>
                <input matInput
                       class="ring-0"
                       id="email"
                       type="email"
                       placeholder=""
                       name="email"
                       [(ngModel)]="form.email"
                       email
                       required
                       maxlength="50"
                       #email="ngModel"
                />
                <mat-error class="danger" *ngIf="email.errors?.['required']">Введіть Email</mat-error>
                <mat-error *ngIf="email.errors?.['email']">
                  Неправильний email
                </mat-error>
                <mat-error *ngIf="email.errors?.['maxlength']">
                  Email не може перевищувати 50 символів
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label> Телефон </mat-label>
                <input matInput
                       class="ring-0"
                       id="phone"
                       type="text"
                       placeholder=""
                       name="phone"
                       [(ngModel)]="form.phone"
                       minlength="10"
                       maxlength="10"
                       pattern="[0-9]*"
                       required
                       #phone="ngModel"
                />
                <mat-error class="danger" *ngIf="phone.errors?.['required']">Введіть номер телефону</mat-error>
                <mat-error *ngIf="phone.errors?.['pattern']">
                  Номер телефона може мати лише цифри
                </mat-error>
                <mat-error *ngIf="phone.errors?.['minlength']">
                  Номер телефона не може бути меншим за 10 символів
                </mat-error>
                <mat-error *ngIf="phone.errors?.['maxlength']">
                  Номер телефона не може перевищувати 10 символів
                </mat-error>
              </mat-form-field>
            </div>

          </div>

          <hr class="my-4">

          <h4 class="mb-3">Доставка</h4>
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label> Населений пункт </mat-label>
              <input matInput
                     (keyup)="findCity()"
                     class="ring-0"
                     id="city"
                     type="text"
                     placeholder=""
                     name="city"
                     [(ngModel)]="form.city"
                     maxlength="500"
                     required
                     #city="ngModel"
                     [matAutocomplete]="auto"
              />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option (click)="changeFormCity(option)" *ngFor="let option of cities" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error class="danger" *ngIf="city.errors?.['required']">Введіть назву населеного пукнта</mat-error>
              <mat-error *ngIf="city.errors?.['maxlength']">
                Адрес не може перевищувати 500 символів
              </mat-error>
            </mat-form-field>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Оплата</h4>

          <div class="my-3">
            <mat-radio-group required [(ngModel)]="paymentType" class="radio-group" name="paymentType">
              <mat-radio-button class="radio-button" value="Після отримання товару">Після отримання товару</mat-radio-button>
              <mat-radio-button class="radio-button" value="Карткою">Карткою</mat-radio-button>
            </mat-radio-group>
          </div>

          <hr class="my-4">

          <button class="w-100 py-2 text-xl" mat-flat-button color="primary" type="submit">Підтвердити замовлення</button>
        </form>
      </div>
    </div>
  </main>
</div>
  <footer class="pt-5 pb-3 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 Apricotka</p>
  </footer>
</div>
  <section *ngIf="orderCreated" class="p-4 sm:p-8 flex flex-col justify-center min-h-screen" style="background: #e5e5e5 none repeat scroll 0 0;">
    <div id='card' class="animated fadeIn">
      <div id='upper-side'>
        <i class="material-icons" style="font-size: 64px">info_outline</i>
      </div>
      <div id='lower-side'>
        <p id='message'>
          {{ result }}
        </p>
        <a routerLink="/" id="contBtn">До головної</a>
      </div>
    </div>
  </section>
</div>
