<div *ngIf="!isCreated">
  <div mat-dialog-content>
    <h5 class="mb-4">Додання зображення товара</h5>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>id товара</mat-label>
      <input type="number" matInput [(ngModel)]="data">
    </mat-form-field>
    <input type="file" class="file-input"
           (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload mb-3">

      {{fileName || "Оберіть файл"}}

      <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button (click)="onNoClick()">Не додавати</button>
    <button mat-raised-button (click)="onSubmit()">Додати</button>
  </div>
</div>
<div *ngIf="isCreated">
  <div mat-dialog-content [align]="'center'">
    <span class="text-xl" >Результат</span>
    <pre class="mt-2 border border-2 border-dark" style="text-align: initial;">{{ result }}</pre>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button [mat-dialog-close]="">Продовжити</button>
  </div>
</div>
