<div *ngIf="!isEdited">
  <div mat-dialog-content>
    <h5 class="mb-4">Зміна статуса замовлення {{data.id}}</h5>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Статус</mat-label>
      <mat-select [(ngModel)]="data.status" required>
        <mat-option value="rejected">rejected</mat-option>
        <mat-option value="pending">pending</mat-option>
        <mat-option value="initialized">initialized</mat-option>
        <mat-option value="sent">sent</mat-option>
        <mat-option value="completed">completed</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button (click)="onNoClick()">Не зберігати</button>
    <button mat-raised-button (click)="onSubmit()">Зберегти</button>
  </div>
</div>
<div *ngIf="isEdited">
  <div mat-dialog-content [align]="'center'">
    <span class="text-xl">Результат</span>
    <p class="mt-2">{{ result }}</p>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button [mat-dialog-close]="data.status">Продовжити</button>
  </div>
</div>
