<header>
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url('https://live.staticflickr.com/65535/52120135930_f229f38356_k.jpg')">
        <div class="carousel-caption content">
          <h1>Не знайдеш смачніші!</h1>
          <p>Стиглі, соковиті, вирощенні з турботою абрикоси<br> двадцяти двох різних сортів можна замовити вже зараз</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://live.staticflickr.com/65535/52118605187_c4313beeef_k.jpg')">
        <div class="carousel-caption content">
          <h1>Не знайдеш смачніші!</h1>
          <p>Стиглі, соковиті, вирощенні з турботою абрикоси<br> двадцяти двох різних сортів можна замовити вже зараз</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://live.staticflickr.com/65535/52119635901_aab17ac707_k.jpg')">
        <div class="carousel-caption content">
          <h1>Не знайдеш смачніші!</h1>
          <p>Стиглі, соковиті, вирощенні з турботою абрикоси<br> двадцяти двох різних сортів можна замовити вже зараз</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>

<ll-home-products></ll-home-products>

<div class="mt-16"></div>
