<header>
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" style="background-image: url('https://live.staticflickr.com/65535/52771339627_6c7a25ba5a_o.jpg')">
        <div class="carousel-caption content">
          <h1>Новий проект Dis Manga!</h1>
          <p>Читай українською те, що тобі до вподоби.<br>Ми потурбуємося, щоб цей досвід був чудовим</p>
        </div>
      </div>
      <div class="carousel-item active" style="background-image: url('https://live.staticflickr.com/65535/52771867711_e4368bb7d3_o.jpg')">
        <div class="carousel-caption content">
          <h1>Новий проект Dis Manga!</h1>
          <p>Читай українською те, що тобі до вподоби.<br>Ми потурбуємося, щоб цей досвід був чудовим</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://live.staticflickr.com/65535/52772126374_4c0d89f2e0_o.jpg')">
        <div class="carousel-caption content">
          <h1>Новий проект Dis Manga!</h1>
          <p>Читай українською те, що тобі до вподоби.<br>Ми потурбуємося, щоб цей досвід був чудовим</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://live.staticflickr.com/65535/52772126439_3b976518cd_o.jpg')">
        <div class="carousel-caption content">
          <h1>Новий проект Dis Manga!</h1>
          <p>Читай українською те, що тобі до вподоби.<br>Ми потурбуємося, щоб цей досвід був чудовим</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</header>

<home-books></home-books>

<div class="mt-16"></div>
