<div>
	<div class="border bg-white rounded-md">
		<div class="flex p-4 bg-gray-200">
			<h6 class="text-normal">Основна інформація</h6>
		</div>
		<div class="flex flex-wrap p-4">
			<div class="w-full sm:w-1/2">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Email:
					</div>
					<div class="ll-dataset__value">
            {{ email }}
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						ПІБ:
					</div>
					<div class="ll-dataset__value">
            {{ name }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
