<div class="book-list pt-32">
  <div class="container">
    <div class="grid grid-cols-x gap-6 xxl:gap-8">
      <div *ngFor="let book of books | slice:0:12" class="col-span-12 md:col-span-6 xl:col-span-4">
        <mat-card class="book p-0">
          <img *ngIf="book.link_to_cover" mat-card-image [routerLink]="['/books', book.id]" [src]="book.link_to_cover"  style="width: 100%; height: 320px; object-fit: cover; margin: 0 0 8px; cursor: pointer;"  alt=""/>
          <img *ngIf="!book.link_to_cover" mat-card-image [routerLink]="['/books', book.id]" src="assets/images/template.jpg"  style="width: 100%; height: 320px; object-fit: cover; margin: 0 0 8px; cursor: pointer;"  alt=""/>
          <mat-card-content class="flex">
            <div class="flex-grow pl-2 pr-2 pb-2">
              <h2 class="book__name line-clamp" style="height: 4rem;">
                <a [routerLink]="['/books', book.id]">{{ book.name }}</a>
              </h2>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="text-center mt-10">
      <a mat-raised-button color="warn" [routerLink]="['/books']" class="px-8 py-2 text-lg">Показати більше</a>
    </div>
  </div>
</div>
