<div class="book-list">
  <div class="container">
    <div class="ll-section-head text-center mb-5"></div>
    <div class="grid grid-cols-12 gap-6 xxl:gap-8">
      <div *ngFor="let book of books | slice:0:9" class="col-span-12 md:col-span-6 xl:col-span-4">
        <mat-card class="book">
          <img mat-card-image [routerLink]="['/books', book.id]" [src]="book.link_to_cover" alt="{{ book.name }}" style="width: 100%; height: 300px; object-fit: cover; margin: 0 0 20px; cursor: pointer;" />
          <mat-card-content class="flex">
            <div class="flex-grow pl-3">
              <h2 class="book__name">
                <a [routerLink]="['/books', book.id]">{{ book.name }}</a>
              </h2>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="text-center mt-10">
      <a mat-raised-button color="warn" [routerLink]="['/books']" class="px-8 py-2 text-lg">Показати більше</a>
    </div>
  </div>
</div>
