<div *ngIf="!isEdited">
  <div mat-dialog-content>
    <h5 class="mb-4">Редагування товара id = {{ data.id }}</h5>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>id категорії</mat-label>
      <input type="number" matInput [(ngModel)]="data.category_id">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Назва товара</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Опис товара</mat-label>
      <textarea matInput [(ngModel)]="data.info"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Ціна продажу товара</mat-label>
      <input type="number" matInput [(ngModel)]="data.price">
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button (click)="onNoClick()">Не зберігати</button>
    <button mat-raised-button (click)="onSubmit()">Зберегти</button>
  </div>
</div>
<div *ngIf="isEdited">
  <div mat-dialog-content [align]="'center'">
    <span class="text-xl">Результат</span>
    <p class="mt-2">{{ result }}</p>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button [mat-dialog-close]="">Продовжити</button>
  </div>
</div>
