<div *ngIf="!isDeleted">
  <div mat-dialog-content>
    <h5 class="mb-4">Точно видалити зображення id = {{id}}?</h5>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button (click)="onNoClick()">Не видаляти</button>
    <button mat-raised-button (click)="onSubmit()">Видалити</button>
  </div>
</div>
<div *ngIf="isDeleted">
  <div mat-dialog-content [align]="'center'">
    <span class="text-xl">Результат</span>
    <p class="mt-2">{{ result }}</p>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button [mat-dialog-close]="">Продовжити</button>
  </div>
</div>
