<div *ngIf="!isEdited">
  <div mat-dialog-content>
    <h5 class="mb-4">Редагування книги id = {{ data.id }}</h5>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Назва книги</mat-label>
      <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>id тегу</mat-label>
      <input type="number" matInput [(ngModel)]="data.tagId">
    </mat-form-field>
    <label for="files">Файли</label>
    <input class="form-control mb-4"
           id="files"
           type="file"
           multiple
           (change)="onFilesChange($event)">
    <label for="cover">Обкладинка</label>
    <input class="form-control"
           id="cover"
           type="file"
           (change)="onCoverChange($event)">
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button (click)="onNoClick()">Не зберігати</button>
    <button mat-raised-button (click)="onSubmit()">Зберегти</button>
  </div>
</div>
<div *ngIf="isEdited">
  <div mat-dialog-content [align]="'center'">
    <span class="text-xl">Результат</span>
    <p class="mt-2">{{ result }}</p>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button [mat-dialog-close]="">Продовжити</button>
  </div>
</div>
