<div class="mt-32">
  <div class="container">
    <div class="grid grid-cols-12 gap-8" *ngIf="book != null">
      <div class="col-span-12 md:col-span-7 xl:col-span-8 border p-4">
        <div *ngFor="let bookFile of bookFiles">
          <iframe [src]="previewUrl(bookFile)" class="w-full" height="600" allow="autoplay"></iframe>
          <br>
        </div>
        <section class="dark:bg-gray-900 py-4 lg:py-16">
          <div class="mx-auto">
            <div class="flex justify-between items-center mb-6">
              <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Коментарі</h2>
            </div>
            <form *ngIf="isLoggedIn" class="mb-6" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onClickSubmit(book.id)">
              <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                <label for="text" class="sr-only"></label>
                <div *ngIf="text.errors?.['maxlength']">
                  (Текст не може перевищувати 2000 символів)
                </div>
                <textarea id="text" rows="6" name="text"
                          class="px-0 w-full text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                          placeholder="Коментар буде корисним для всіх..."
                          [(ngModel)]="form.text"
                          required
                          maxlength="2000"
                          #text="ngModel"></textarea>
              </div>
              <button mat-raised-button color="accent">
                Додати коментар
                <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
              </svg>
              </button>
            </form>
            <article *ngFor="let comment of comments" class="p-6 text-base border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900 comment-box">
              <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
<!--                  <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">Bonnie Green</p>-->
                  <p class="text-sm text-gray-600 dark:text-gray-400"><time>{{comment.created_at}}</time></p>
                </div>
              </footer>
              <p class="text-gray-500 dark:text-gray-400">{{comment.text}}</p>
            </article>
          </div>
        </section>
      </div>
      <div class="col-span-12 md:col-span-5 xl:col-span-4">
        <div class="border">
          <div class="border-b text-center p-4">
            <div>
              <img *ngIf="book.link_to_cover" mat-card-image [routerLink]="['/books', book.id]" [src]="book.link_to_cover"  style="width: 50%; object-fit: cover; margin: 0 auto 8px; cursor: pointer;"  alt=""/>
              <img *ngIf="!book.link_to_cover" mat-card-image [routerLink]="['/books', book.id]" src="assets/images/template.jpg"  style="width: 50%; object-fit: cover; margin: 0 auto 8px; cursor: pointer;"  alt=""/>
            </div>
            <h4 class="_title font-medium pb-2">{{ book.name }}</h4>
          </div>
          <div class="border-b pt-2 pb-4 px-24 text-center">
            <div *ngFor="let bookFile of bookFiles; let i = index" [attr.data-index]="i">
              <a class="mt-2 w-100" mat-raised-button color="accent" target="_blank" [href]="downloadUrl(bookFile)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="mr-1 h-4 w-4">
                  <path
                    fill-rule="evenodd"
                    d="M19.5 21a3 3 0 003-3V9a3 3 0 00-3-3h-5.379a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H4.5a3 3 0 00-3 3v12a3 3 0 003 3h15zm-6.75-10.5a.75.75 0 00-1.5 0v4.19l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V10.5z"
                    clip-rule="evenodd" />
                </svg>
                Завантажити файл №{{i+1}}
              </a>
            </div>
            <button *ngIf="isLoggedIn" class="mt-2 w-100" mat-raised-button color="primary" (click)="openAddToLibraryDialog(book.id)">
              <i class="fa-solid fa-bookmark mr-1"></i>
              Додати до власної бібліотеки
            </button>
            <button *ngIf="isLoggedIn" class="mt-2 w-100" mat-raised-button color="warn" (click)="openReportDialog(book.id)">
              <i class="fa-solid fa-flag mr-1"></i>
              Поскаржатися на книгу чи коментар
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="book == null">
      <h1 class="text-center">Книгу не знайдено</h1>
    </div>
  </div>
</div>
