<div class="mt-32">
  <div class="container">
    <div class="grid grid-cols-12 gap-8" *ngIf="book != null">
      <div class="col-span-12 md:col-span-7 xl:col-span-8 border p-4">
        <div *ngFor="let bookFile of bookFiles">
          <h3>{{bookFile.name}}</h3>
          <iframe [src]="previewUrl(bookFile)" class="w-full" height="600" allow="autoplay"></iframe>
        </div>
      </div>
      <div class="col-span-12 md:col-span-5 xl:col-span-4">
        <div class="border">
          <div class="border-b text-center p-4">
            <div>
              <img *ngIf="book.link_to_cover" mat-card-image [routerLink]="['/books', book.id]" [src]="book.link_to_cover"  style="width: 50%; object-fit: cover; margin: 0 auto 8px; cursor: pointer;"  alt=""/>
              <img *ngIf="!book.link_to_cover" mat-card-image [routerLink]="['/books', book.id]" src="assets/images/template.jpg"  style="width: 50%; object-fit: cover; margin: 0 auto 8px; cursor: pointer;"  alt=""/>
            </div>
            <h4 class="_title font-medium pb-2">{{ book.name }}</h4>
            <button mat-raised-button color="accent">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="mr-1 h-4 w-4">
                <path
                  fill-rule="evenodd"
                  d="M19.5 21a3 3 0 003-3V9a3 3 0 00-3-3h-5.379a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H4.5a3 3 0 00-3 3v12a3 3 0 003 3h15zm-6.75-10.5a.75.75 0 00-1.5 0v4.19l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V10.5z"
                  clip-rule="evenodd" />
              </svg>
              Завантажити файл
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="book == null">
      <h1 class="text-center">Книгу не знайдено</h1>
    </div>
  </div>
</div>
