<div *ngIf="!isCreated">
  <div mat-dialog-content>
    <h5 class="mb-4">Яка назва у категорії?</h5>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Назва категорії</mat-label>
      <input matInput [(ngModel)]="data">
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button (click)="onNoClick()">Не створювати</button>
    <button mat-raised-button (click)="onSubmit()">Створити</button>
  </div>
</div>
<div *ngIf="isCreated">
  <div mat-dialog-content [align]="'center'">
    <span class="text-xl">Результат</span>
    <p class="mt-2">{{ result }}</p>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button [mat-dialog-close]="data">Продовжити</button>
  </div>
</div>
