<div *ngIf="!isCreated">
  <div mat-dialog-content>
    <h5 class="mb-4">Додання товара на склад</h5>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>id товара</mat-label>
      <input type="number" matInput [(ngModel)]="data.product_id">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Назва постачальника</mat-label>
      <input matInput [(ngModel)]="data.supplier">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Ціна закупівлі</mat-label>
      <input type="number" matInput [(ngModel)]="data.initial_price">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Кількість</mat-label>
      <input type="number" matInput [(ngModel)]="data.quantity">
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button (click)="onNoClick()">Не додавати</button>
    <button mat-raised-button (click)="onSubmit()">Додати</button>
  </div>
</div>
<div *ngIf="isCreated">
  <div mat-dialog-content [align]="'center'">
    <span class="text-xl">Результат</span>
    <p class="mt-2">{{ result }}</p>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button [mat-dialog-close]="">Продовжити</button>
  </div>
</div>
