<div *ngIf="!isEdited">
  <div mat-dialog-content>
    <h5 class="mb-4">Редагування зображення товара id = {{ data.id }}</h5>
    <div class="my-3">
      <p>Файл</p>
      <a target="_blank" [href]="data.file">{{ data.file }}</a>
    </div>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>id товара</mat-label>
      <input type="number" matInput [(ngModel)]="data.product_id">
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button (click)="onNoClick()">Не зберігати</button>
    <button mat-raised-button (click)="onSubmit()">Зберегти</button>
  </div>
</div>
<div *ngIf="isEdited">
  <div mat-dialog-content [align]="'center'">
    <span class="text-xl">Результат</span>
    <p class="mt-2">{{ result }}</p>
  </div>
  <div mat-dialog-actions [align]="'center'">
    <button mat-raised-button [mat-dialog-close]="">Продовжити</button>
  </div>
</div>
